<%= form_for @tack do |f| %>

  <% if @tack.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tack.errors.count, "error") %> prohibited
        this tack from being saved:
      </h2>
      <ul>
        <% @tack.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field">
    <%= f.file_field :tack_image %><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class ="field">
    <br><%= f.label :board %><br>
    <%= f.select :board_id, options_from_collection_for_select(current_user.boards, 'id', 'name') %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Tack", class: "btn btn-success" %>
  </div>

<% end %>
