<h1>Your Tacks</h1>
<%= link_to 'New Tack', new_tack_path %>
<div class = "container">
  <div class = "grid row">
<% @tacks.each do |tack| %>
  <div class="grid-item col-md-4 tack_square">
    <div class= "tack_image">
       <%=link_to image_tag(tack.tack_image.url(:medium)), tack_path(tack)%>
    </div>
    <div class="tack_descr">
        <%= link_to tack.description, tack_path(tack) %>
    </div>
    <% if tack.user == current_user %>
      <div class="edit_tack_buttons">
        <%= link_to 'Edit', edit_tack_path(tack) %> |
        <%= link_to 'Delete', tack, method: :delete, data: {confirm: 'Are you sure?'}%>
      </div>
    <% end %>
  </div>

<% end %>
  </div>
</div>
