<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head panel panel-default">
      <div class="panel-body name text-center">
        <%= image_tag(@tack.tack_image.url(:large))%>
      </div>
      <div class ="panel-footer text-center">
        <%= @tack.description %>
      </div>
    </div>
  </div>
</div>


<h2>Comments</h2>
<% @tack.comments.each do |comment| %>
  <p>
    <%= comment.user.username %>: &quot;<%= comment.body %>&quot;
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@tack, @tack.comments.build]) do |f| %>


  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="text-center edit-links">
  <% if @tack.user == current_user %>
  <%= link_to "Back", tacks_path %>
  |
  <%= link_to "Edit Post", edit_tack_path(@tack) %>
  |
  <%= link_to 'Untack', tack_path(@tack),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  <% else %>
  <%= link_to "Back", tacks_path%>
  <% end %>
</div>
